.menu {
    position: fixed;
    width: 400px;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $navBackgroundColor;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: 1200px) {
        display: none;
    }

    .logo {

        text-align: center;
        margin: 0 0 20px 0;
    }

    nav {

        ul {

            @include reset-list;

            li {

                a {
                    text-decoration: none;
                    color: $navFontColor;
                    display: block;
                    padding: 16px 0;
                    position: relative;
                    transition: .2s;

                    &:hover {

                        color: $navFontHoverColor;

                        &::after {

                            width: 100%;

                        }
                    }

                    &::before {
                        position: absolute;
                        content: "";
                        height: 2px;
                        width: 100%;
                        background-color: rgba($color: #ffffff, $alpha: 0.1);
                        bottom: 0;
                        left: 0;
                    }

                    &::after {
                        position: absolute;
                        content: "";
                        height: 2px;
                        width: 0;
                        background-color: rgba($color: #ffffff, $alpha: 0.2);
                        bottom: 0;
                        left: 0;
                        transition: .2s;
                    }
                }
            }
        }
    }

    .social-media-icons {

        @include reset-list;

        display: flex;


        li {
            margin: 0 35px 0 0;

            a {

                color: $navFontColor;
                transition: .2s;

                &:hover {

                    color: $navFontHoverColor;

                }
            }
        }
    }
}